@use 'src/styles/vars' as v;


.card {

	min-height: 400px;
	min-width: 400px;

	&:hover {
		margin: 0;
		padding: 0;
		transition: 0.5s;

	}

	@media screen and (max-width: v.$oneColum) {
		
	}
}