@use 'src/styles/vars' as v;

nav {
	width: 100%;
	position: sticky;
	top: 0;
	z-index: 10;

	.menu-mobile {
		text-transform: uppercase;
		font-weight: bold;
		font-size: 16px;
		color: #fff;
		background-color: #fff;
		box-shadow: 0 10px 20px 1px v.$black-color-a;
		position: relative;
		z-index: 15;
		display: none;

		.is-open {
			//-webkit-filter: drop-shadow(0 0 5px #fff) drop-shadow(0 0 10px #1e90ff) drop-shadow(0 0 15px #fff) drop-shadow(0 0 20px #1e90ff) drop-shadow(0 0 30px #1e90ff) drop-shadow(0 0 40px #1e90ff) drop-shadow(0 0 50px #1e90ff);
			//filter: drop-shadow(0 0 5px #fff) drop-shadow(0 0 10px #1e90ff) drop-shadow(0 0 15px #fff) drop-shadow(0 0 20px #1e90ff) drop-shadow(0 0 30px #1e90ff) drop-shadow(0 0 40px #1e90ff) drop-shadow(0 0 50px #1e90ff);
			-webkit-transform: rotate(360deg);
			transform: rotate(360deg) scale(1.2); ;
			transition: all 0.3s ease-in-out;
			color: v.$blue-color;
		}

		.is-close {
			-webkit-transform: rotate(-720deg);
			transform: rotate(-720deg);
			transition: transform 0.2s ease-in-out;
			color: v.$pink-color;
		}
	}

	.list {
		//box-shadow: 0 10px 20px 1px rgb( 0 0 0 / 45% );
		background-color: #fff;

		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;

		.logo-icon {

			.logo {
				display: flex;
				justify-content: center;
				align-items: center;
				width: v.$sizeLogo;
				height: v.$sizeLogo;

				img {
					width: 100%;
				}
			}
		}

		ul {
			margin: 0px;
			padding: 0px;
			flex-direction: row;
			display: flex;

			li {
				list-style-type: none;
				flex-direction: row;
				align-items: center;
				justify-content: center;

				a {
					display: flex;
					text-decoration: none;
					padding: 20px; // détermine la hauteur de nav
					color: v.$black-color-a;

					&:hover {
						color: v.$orange-color;
						transition: color 0.3s ease;
					}
				}

				.active { color: v.$orange-color; }
			}

			li:last-child {
				display: flex;
				padding-right: 10px;
			}
		}
	}

	input[type=checkbox] {
		display: none;
	}
}

@media screen and (max-width: v.$oneColum) {

	nav {
		flex-direction: column;
		//height: 60px;
		align-items: center;
		justify-content: space-between;
		position: sticky;
		top: 0;
		z-index: 10;

		// Label
		.menu-mobile {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 0 1rem;
			height: 60px;
			color: v.$orange-color;
			z-index: 150;
		}

		input[type=checkbox] {
			& ~ .list {

				position: relative;
				z-index: 1;

				max-height: 0;
				overflow: hidden;
				transition: all 500ms ease-in-out;
				background-color: v.$blue-color;

				a { padding: 1em;}

				.logo {
					display: none;
				}

				ul {
					display: flex;
					flex-direction: column;
					align-items: center;
					width: 100%;

					li > a {
						color: #fff;
						font-weight: bold;
					}
					.active {
						color: v.$orange-color;
					}
					li:hover a {
						-webkit-transform: scale(1.1);
						transform: scale(1.1);
					}
					li:last-child {
						padding-right: 0;
					}
				}
			}
		}

		input[type=checkbox]:checked {
			& ~ .list {
				max-height: 50vh;
				position: relative;
				z-index: 5;
			}
		}
	}
}

.fade-enter {
	opacity: 0;
	transform: translateY(-100%);
}
.fade-enter-active {
	opacity: 1;
	transform: translateY(0%);
	transition: all 0.5s ease;
}
.fade-exit {
	opacity: 1;
	transform: translateY(-100%);
}
.fade-exit-active {
	opacity: 0;
	transform: translateY(0%);
	transition: all 0.5s ease-out;
}