@use 'src/styles/vars' as v;

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Karla:wght@400;600;800&display=swap');



$text-black-color: #22162B;
$text-hover-color: #B72AA9;
$text-select-color: #DD69D1;

nav {
	width: 100%;
	position: sticky;
	top: 0;
	z-index: 100;
	border-bottom: solid 4px #171D1C;

	.menu-mobile {
		text-transform: uppercase;
		font-weight: bold;
		font-size: 16px;
		color: #fff;
		background-color: #fff;
		box-shadow: 0 10px 20px 1px #22162B;
		position: relative;
		z-index: 150;
		display: none;

		.is-open {
			-webkit-transform: rotate(360deg);
			transform: rotate(360deg) scale(1.2); ;
			transition: all 0.3s ease-in-out;
			color: v.$blue-color;
		}

		.is-close {
			-webkit-transform: rotate(-720deg);
			transform: rotate(-720deg);
			transition: transform 0.2s ease-in-out;
			color: v.$pink-color;
		}
	}

	.list {
		background-color: #fff;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;

		.logo-icon {
			text-decoration: none;
			.logo {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 60px;

				h1 {
					width: 100%;
					margin-left: 4em;
					color: var(--Black, #22162B);
					font-family: Anton;
					font-size: 24px;
					font-style: normal;
					font-weight: 400;
					line-height: normal;
				}
			}
		}

		ul {
			margin: 0px;
			padding: 0px;
			flex-direction: row;
			display: flex;

			li {
				display: flex;
				list-style-type: none;
				flex-direction: row;
				align-items: center;
				justify-content: center;

				a {
					font-family: 'Karla', sans-serif;
					display: flex;
					text-decoration: none;
					font-weight: 900;
					padding: 20px; // détermine la hauteur de nav
					color: v.$black-color;

					&:hover {
						color: $text-hover-color;
						transition: color 0.3s ease;
					}
				}

				.active { color: $text-select-color; }
			}

			li:last-child {
				display: flex;
				padding-right: 10px;
			}
		}
	}

	input[type=checkbox] {
		display: none;
	}
}

@media screen and (max-width: v.$oneColum) {

	nav {
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		position: sticky;
		top: 0;
		z-index: 100;

		// Label
		.menu-mobile {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 0 1rem;
			height: 60px;
			color: v.$orange-color;
			z-index: 150;
		}

		input[type=checkbox] {
			& ~ .list {

				position: relative;
				z-index: 1;

				max-height: 0;
				overflow: hidden;
				transition: all 500ms ease-in-out;
				background-color: v.$blue-color;

				a { padding: 1em;}

				.logo {
					display: none;
				}

				ul {
					display: flex;
					flex-direction: column;
					align-items: center;
					width: 100%;

					li > a {
						color: #fff;
						font-weight: bold;
					}
					.active {
						color: v.$orange-color;
					}
					li:hover a {
						-webkit-transform: scale(1.1);
						transform: scale(1.1);
					}
					li:last-child {
						padding-right: 0;
					}
				}
			}
		}

		input[type=checkbox]:checked {
			& ~ .list {
				max-height: 50vh;
				position: relative;
				z-index: 50;
			}
		}
	}
}

.fade-enter {
	opacity: 0;
	transform: translateY(-100%);
}
.fade-enter-active {
	opacity: 1;
	transform: translateY(0%);
	transition: all 0.5s ease;
}
.fade-exit {
	opacity: 1;
	transform: translateY(-100%);
}
.fade-exit-active {
	opacity: 0;
	transform: translateY(0%);
	transition: all 0.5s ease-out;
}