.home__container {
    display: flex;
    flex-direction: column;

    .section-1 {
        width: 100%;
        min-height: 90vh;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            position: relative;
            width: 100%;
            height: 100%;

            .hero {
                max-width: 636px;
                max-height: 512px;
                margin-bottom: 5em;
                p {
                    color: #171D1C;
                    font-family: Karla;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 150%; /* 30px */
                }

                h1 {
                    margin: 0;
                    color: var(--Black, #22162B);
                    font-family: Anton;
                    font-size: 120px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }

            .popup {
                background-color: #171D1C;
                position: relative;
                max-width: 512px;
                width: 80%;
                max-height:512px;
                height: 70%;
                border-bottom-right-radius: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 5em;

                img {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    bottom: 47px;
                    right: 35px;
                    z-index: 11;
                    border-radius: 20px;
                }
                .background__img {
                    position: absolute;
                    bottom: 35px;
                    right: 35px;
                    z-index: 10;
                    width: 100%;
                    height: 100%;
                    background-color: #FFDA44;
                    border-radius: 32px;
                    box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    border: white solid 10px;
                }
                .popup__cach {
                    position: absolute;
                    z-index: 1;
                    width: 100%;
                    height: 100%;
                    bottom: 25px;
                    right: 25px;
                    background-color: white;
                    border: #171D1C solid 10px;
                    border-radius: 42px;

                    .toto {
                        position: absolute;
                        z-index: -10;
                        height: 80px;
                        width: 80px;
                        border-radius: 50%;
                        background-color: #171D1C;
                        top: calc(100% - 45px);

                        .to {
                            position: relative;
                            bottom: 5px;
                            height:50px;
                            width: 100px;
                            border-bottom-left-radius: 28px;
                            background-color: white;
                        }
                    }
                    .tutu {
                        position: absolute;
                        z-index: -10;
                        height: 80px;
                        width: 80px;
                        border-radius: 50%;
                        background-color: #171D1C;
                        left: calc(100% - 45px);

                        .tu {
                            position: relative;
                            top: 0;
                            height: 100px;
                            width: 45px;
                            border-top-right-radius: 28px;
                            background-color: white;
                        }
                    }
                }
            }
        }
    }

    .section-2 {
        width: 100%;
        min-height: 90vh;
        background-color: #F3F4F6;
        display: flex;
        flex-direction: column;

        h2 {
            text-align: center;
            color: var(--Black, #22162B);
            text-align: center;
            font-family: Anton;
            font-size: 40px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
        }
        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
            height: 100%;

            .left {
                width: 50%;
                min-width: 400px;
                min-height: 800px;
                display: flex;
                flex-direction: column;
                align-items: center;
                
                .row {
                    width: 100%;
                    max-width: 512px;
                    display: flex;
                    justify-content: end;
                    align-items: center;
                }
                .row:nth-child(2) {
                    justify-content: start;
                }
                .row.mobile { justify-content: center}
            }

            .right {
                display: flex;
                flex-direction: column;
                max-width: 50%;
                min-height:600px;

                .text {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    p {
                        max-width: 60%;
                        color: #171D1C;
                        font-family: Karla;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 150%; /* 30px */
                    }
                }
            } .right.mobile { max-width: 80%; text-align: center;}
        } 
        .container.mobile { flex-direction: column-reverse; align-items: center; }
    }

    .section-3 {


        h2 {
            text-align: center;
            margin: 2em;
            color: var(--Black, #22162B);
            text-align: center;
            font-family: Anton;
            font-size: 40px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
        }
    }
}