.project__container {

	.top {
		width: 100%;
		display: flex;
		align-items: center;
		background-color: #191117;
		overflow: hidden;

		svg {
			//border: 1px solid  #833869;
			background: #37172F;
			cursor: pointer;
			padding: 20px;
			color: #833869;

			&:hover {
				transform: scale(1.4);
				border-radius: 64%;
			}
		}

		p {
			color: #22162B;
			font-family: Karla, sans-serif;
			font-size: 18px;
			font-style: normal;
			font-weight: 600;
			line-height: 160%;
		}
	}

    .container {
		display: flex;

		.header {
			width: 100%;

			.logo {
				max-width: 20%;
				margin: 2em;
				display: flex;
				justify-content: center;
				
				img {
					position: relative;
					//max-width: 100%;
				}
			}
			
			.subtitle {
				margin: 0 2em;
				max-width: 50%;
				color: #22162B;
				font-family: Karla, sans-serif;
				font-size: 24px;
				font-style: italic;
				font-weight: 400;
				line-height: 200%; /* 36px */
			}

		}
		
		img {
			margin: 3em 0;
			border-bottom-left-radius: 15px;
			border-top-left-radius: 15px;
		}

	}
	// background du slide
	.container.bg-freepry1 {
		background-color: #C4F5E0;
	}
	.container.bg-freepry2 {
		background-color: #FEF8EC;
	}
	.container.bg-lichess {
		background-color: #E2E4F3;
	}
	.container.bg-socoon {
		background-color: #DCF5F9;
	}

	.contexte {
		margin: 3em;

		&__title {

			font-family: Karla, sans-serif;
			font-size: 24px;
			font-style: normal;
			font-weight: 800;
			line-height: 160%;
		}
		.color-freepry1 {
			color: #87ebd5;
		}
		.color-freepry2 {
			color: #ff801f;
		}
		.color-lichess {
			color: #aadafe;
		}







		&__text {
			margin: 1em 0;
			color: #fff;
			font-family: Karla, sans-serif;
			font-size: 16px;
			font-style: normal;
			font-weight: 400;
			line-height: 160%;
		}
	}
	.schema {
		margin: 3em;
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		//grid-template-rows: repeat(2, 1fr);
		grid-column-gap: 15px;

		.col {
			margin: 0 1em;
			.schema__title {
				color: #FF8DCC;
				font-family: Karla, sans-serif;
				font-size: 18px;
				font-style: normal;
				font-weight: 800;
				line-height: 160%;
			}
			.title-freepry1 {
				color: #87ebd5;
			}
			.title-lichess {
				color: #aadafe;
			}
			.title-freepry2 {
				color: #ff801f;
			}
			.schema__text {
				color:  #FFF;
				font-family: Karla, sans-serif;
				font-size: 16px;
				font-style: normal;
				font-weight: 400;
				line-height: 160%;
			}
		}

	}

	img {
		width: 100%;
	}
}
// backgroung générale
.bg-freepry1 {
	background-color: #0f1b1b;
}
.bg-freepry2 {
	background-color: #17120e;
}
.bg-lichess {
	background-color: #262835;
;
}