@use 'src/styles/vars' as v;


.tag {
	padding: 8px;
	margin: 0 5px;
	border-radius: 5px;
	border: 1px solid var(--border-separator-2, #833869);
	background: var(--Primary-Text, #FF8DCC);
	color: black;
	text-align: center;
	font-family: Karla, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;

	@media screen and (max-width: v.$oneColum) {
		
	}
}