@use 'src/styles/vars' as v;


.tag {
	padding: 8px;
	margin: 0 5px;
	border-radius: 8px;
	background-color: #171D1C;
	color: #FFF;
	text-align: center;
	font-family: Karla;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;

	@media screen and (max-width: v.$oneColum) {
		
	}
}