
	.example-container {
		//width: 100vw;
		height: 90vh;
		position: relative;
		display: flex;
		justify-content: start;
		align-items: center;
		overflow: hidden;

		.command {
			position: relative;
		}

		.description-container {
			max-width: 70vw;
			height: 60%;
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			z-index: 1;
			left: 0;
			right: 0;

			.description {

				max-width: 40%;
				font-style: normal;
				font-weight: 400;
				h1 {
					font-family: "Anton", sans-serif;
					color: var(--color-light-100, #FFF);
					font-size: 60px;
					line-height: 60px; /* 109.091% */
				}
				p {
					font-family: "Karla", sans-serif;
					color: #F0F0F0;
					font-size: 18px;
					line-height: 24px; /* 150% */
				}

			}

		}


	.next,
	.prev {
		position: relative;
		margin: 20px;
		background-color: rgba(255,255,255,0.1);
		border: 1px solid rgba(255,255,255,0.1);
		backdrop-filter: blur(20px);
		color: rgba(255,255,255,0.8);
		border-radius: 30px;
		width: 40px;
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		user-select: none;
		cursor: pointer;
		font-weight: bold;
		font-size: 18px;
		z-index: 2;

		&:hover {
			background-color: rgba(255,255,255,0.2);
			transition: 0.5s;
			transform: scale(1.4);
		}
	}
	.prev span {
		transform: rotate(180deg);
	}

	img {
		position: absolute;
		max-width: 70vw;
		height: 90vh;
		object-fit: cover;
	}

	.card {
		position: absolute;
		bottom: 150px;
		right: 8%;
		width: 600px;
		height: 400px;
		border-radius: 25px;
		background-color: transparent;
		box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1);
	}

	.back {
		transition: 0.5s;
	}

	.refresh {
		padding: 10px;
		position: absolute;
		background: rgba(0, 0, 0, 0.4);
		border-radius: 10px;
		width: 20px;
		height: 20px;
		top: 10px;
		right: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
	}
}